<div class="large alt" style="float: right">An aggregation of my social activities</div>

<h1 class="page_title">LifeLine <%= "for #{params[:origin]}" unless params[:origin].blank? %></h1>

<div class="span-20">
  <%= render :partial => "life_line", :collection => @life_lines %>
</div>

<div id="info" class="span-9 push-1 last">
</div>