body {
  background: url('/images/header_bg.png') repeat-x #ededff;
  padding-top: 9px;
  
}

h1.page_title {
  font-size: 32pt;  
  color: #102b79;
}

h2.page_title { 
  color: #102b79;
  padding-left: 15px;
}

ul.menu {
  padding: 0;
  margin: 0;
  padding-top: 18px;  
  margin-left: 8px;
  color: white;
  font-size: 17px;  
  list-style-type: none;
  display: block;
  height: 32px;
}

ul.menu li {
  display: inline-block;
  height: 32px;
  width: 110px;
  padding-left: 1em;  
  margin: -1px;
}

ul.menu li.selected {
  background: #8698cb;
  border: solid white 1px;  
}

ul.submenu {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  padding-left: 20px;  
  margin-left: 8px;
  color: #333;
  font-size: 14px;  
  list-style-type: none;
  display: block;
  height: 25px;  
  
}

ul.submenu li {
  display: inline-block;
  height: 20px;
  width: 90px;
  padding-left: 1em;  
  margin: -1px;
  margin-left: 1em;
  border-bottom: solid #333 1px;  
}

ul.submenu li.selected {
  border-width: 3px;
}

p {
  padding-bottom: 10px;
}

.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.bold { font-weight: bold; }
.italic { font-variant: italic; }

/* h1, h2 { font-weight: bold; } */

.footer {
  background: #8698cb;
  color: #555;
  margin: 0;
  padding: 0;
}

.footer a { 
  color: #333;
}

dl { 
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style-type: none;
}

dl li {
  padding: 3px 0;
}

#what { 
  vertical-align: top;
}

.life_line {
  min-height: 40px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 25px;
  margin-top: 25px;
  padding-top: 10px;
  padding: 2px;
  padding-right: 34px;
  font-size: 12pt;
}

.twitter {
  background: url('/images/icons/small/twitter.png') no-repeat top right;
}

.flickr {
  background: url('/images/icons/small/flickr.png') no-repeat top right;
}

.github {
  background: url('/images/icons/small/git.png') no-repeat top right;
}

.bitly {
  background: url('/images/icons/small/bit.ly.png') no-repeat top right;
}

.tag a {
  color: black;
}

.size-0 { font-size: 7.5pt; }
.size-1 {
  font-size: 8pt;
}

.size-2 {
  font-size: 8.5pt;
}

.size-3 {
  font-size: 9pt;
}

.size-4 {
  font-size: 9.5pt;
}

.size-5 {
  font-size: 10pt;
}

.size-6 {
  font-size: 10.5pt;
}

.size-7 {
  font-size: 11pt;
}

.size-8 {
  font-size: 12pt;
}

.size-9 {
  font-size: 12.5pt;
}

.size-10 {
  font-size: 13pt;
}

.more_link {
  float: right;
  font-size: 12.5pt;
}