body {
  background: url('/images/header_bg.png') repeat-x #ededff;
  padding-top: 9px;
  
}

ul.menu {
  padding: 0;
  margin: 0;
  padding-top: 18px;  
  margin-left: 8px;
  color: white;
  font-size: 17px;  
  list-style-type: none;
  display: block;
  height: 32px;
}

ul.menu li {
  display: inline-block;
  height: 32px;
  width: 110px;
  padding-left: 1em;  
  margin: -1px;
}

ul.menu li.selected {
  background: #8698cb;
  border: solid white 1px;  
}

p {
  padding-bottom: 10px;
}

.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.bold { font-weight: bold; }
.italic { font-variant: italic; }

/* h1, h2 { font-weight: bold; } */

.footer {
  background: #8698cb;
  color: #555;
  margin: 0;
  padding: 0;
}

.footer a { 
  color: #333;
}

dl { 
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style-type: none;
}

dl li {
  padding: 3px 0;
}

#what { 
  vertical-align: top;
}

.life_line {
  min-height: 40px;
  border-bottom: solid 1px #ccf;
  margin-bottom: 5px;
  padding: 2px;
  padding-right: 34px;
}

.twitter {
  background: url('/images/icons/small/twitter.png') no-repeat top right;
}

.flickr {
  background: url('/images/icons/small/flickr.png') no-repeat top right;
}

.github {
  background: url('/images/icons/small/git.png') no-repeat top right;
}

.bitly {
  background: url('/images/icons/small/bit.ly.png') no-repeat top right;
}