<div class="span-24">
  <div class="span-17 append-1 colborder">
    <h1>Pure CopyRight</h1>
  </div>
  <div class="span-6 push-1 last">
    &nbsp;
  </div>
</div>

<div class="span-24">
  <div class="span-17 append-1 colborder">
    <h2>Copyright in it's purest form</h3>

    <dl>
    <li>You have every right to copy the contents from this site. As far
      as I am concerned this site is a public place. Everything on it
      that you can access without a key is yours for the taking.</li>

    <li>If I have placed anything private on here but forgot to crypt
      it that is my bad.</li>

    <li>Just make sure that you place a neat little link back to where you
      found your warez and that you make them freely available as well</li>

    <li>Yes, everything is free. But it is free as in speech. Not as
      in beer. And with freedom of speech comes responsibility. Ponder
      that for a few seconds.</li>

    <li>In that light; if you use my content to create anything hurt-
      or harmful I will retain the right to revoke your given licenses.

   </dl>
  </div>

  <div class="span-6 push-1 last" style="margin-top: 10px;">
    <h3>CreativeCommons</h3>

    <p>There is a host of legal information that further clarifies the
    statement to the right (think direction, not invokable).<br /><br
    />Just follow the links below and find out what the lawyers say
    about this...<br/ ><br />

    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licentie" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-ShareAlike-NonCommercial 3.0</a> license.</p>

     <h3>Exceptions</h3>
     <p>It might occur that I use content from some other then
     myself. This content might not be licensed under the same terms
     as my own content. If so, it will be noted.</p>
  </div>
</div>