<p>{ Simplic.IT } is op freelance basis in te huren voor de volgende
werkzaamheden:</p>

<h2>Webapplicatie development</h2>

<p>Al mijn gehele proffesionele carriere ben ik bezig met development
van websites en webapplicaties of andere aan internet gerelateerde
technieken.</p>

<p>Ik heb mij in die tijd alle facetten van HTML, CSS &amp; JavaScript
en de cross-browser en cross-platform problematiek geheel eigen
gemaakt.</p>

<p>Ik ben zeer bekend met de volgende web development frameworks:</p>

<ul>
<h3>Ruby on Rails</h3>

<p>Ik ben op de trein gestapt toen Rails versie 1.2 net uit was en
sindsdien ben ik een groot fan van dit MVC platform. Ik heb al veel
kleine en grote webapplicaties gebouwd met behulp van Rails.</p>

<p>Daarnaast heb ik een aantal plugins geschreven, welke zijn te
vinden op http://github.com/coffeeaddict. Ik ben bekende met de ins en
outs van Rails en niet schuw van het zo geheten meta programmeren in
Ruby.</p>


<br />
<h3>Perl/CGI</h3>
<p>Sinds 1999 ben ik bezig met de combinatie van Perl en CGI. Ik heb
meerdere zeer uitgebreide internet-applicaties geschreven die web,
sms, email en direct mail bij elkaar brachten.</p>

<p>Ook voor Perl heb ik een aantal modules geschreven die zich vooral
bezighouden met klasse programmeren.</p>

</ul>




<h2 class="next">Security</h2>

<p>Naast grondige kennis van development voor internet heb ik ook een
verre gaande kennis van beveiliging. Vooral de beveiling van kleine
bedrijven en winkels met een internet verbinding heeft mijn specifieke
interesse.</p>

<ul>
<h3>Advies</h3>

<p>Ik ben instaat om voor uw bedrijf IT beveiligingsadviezen uit te
brengen. Zo heb ik voor een project bij GBO.Overheid het beveiligings
architectuur document geschreven en architecten voorgelicht over de
huidige PKI standaarden.</p>

<br />
<h3>Audits</h3>
<p>Het doen van security audits, pen-tests behoort zeker tot de mogelijkheden</p>


<!--
<h2 class="next">Analyze en Ontwerp</h2>
<p>Lorem ipsum, bla bla bla</p>
-->