<p>Welkom bij Simplic.IT (Spreek uit: simplicity)</p>

<p>
  In de almaar groeiende IT markt, waar groei niet alleen plaats vind
  in schaal maar ook in complexiteit is het van belang dat de
  bouwstenen zo eenvoudig mogelijk zijn. Dijkstra zei het al: <i>"Eenvoud is de sleutel tot betrouwbaarheid"</i>. Vandaar: Simplic.IT
</p>


<p>
  Simplic.IT is het geesteskind van Hartog de Mik, een IT proffesional
  die zijn liefde voor development in zijn jonge tienerjaren heeft ontwikkeld en zich jaren lang binnen het bedrijfsleven heeft bekwaamd in
  software development waarna hij voor zichzelf is
  begonnen.
</p>

<p>
  Bij de diensten van Simplic.IT staat de eenvoud van het
  ontwerp of de oplossing centraal.
</p>
