<div class="span-24">
  <div class="span-17 append-1 colborder">
    <h1>Resume</h1>
  </div>
  <div class="span-6 push-1 last">
    &nbsp;
  </div>
</div>

<div class="span-24">
  <div class="span-17 append-1 colborder">
    <h2>About</h3>
    <%= lorem rand(3)+1 %>
    <div class="span-14">
      <div class="span-3 bold">
        one
      </div
      <div class="span-11 last">
        <%= lorem %>
      </div>
    </div>
    <div class="span-14">
      <div class="span-3 bold">
        two
      </div
      <div class="span-11 last">
        <%= lorem %>
      </div>
    </div>

  </div>
  <div class="span-6 push-1 last" style="margin-top: 10px;">
    <h3>Lesser info</h3>
    <%= lorem 2 %>
  </div>
</div>