<div class="sidebar">
  <strong>URL:</strong><br />
  <%= link_to portfolio.url, portfolio.url %>
  <br /><br />

  <strong>Skills:</strong><br />
  <%
    links = portfolio.skills.collect { |skill|
      ( ( skill.url and !skill.url.empty? ) ? link_to(skill.name, skill.url) : skill.name )
    }
  %>
  <%= links.join(", ") %>
  <br />

  <% if current_user %>
    <br />
    <%= link_to "{ Edit }", :action => :edit, :id => portfolio.id %>
  <% end %>

  <br /><br />
</div>