<% count = 1 %>
<% @portfolio.each do |portfolio| %>

  <div class="portfolio_block">

    <div class="portfolio_name"><%= portfolio.name %></div>

    <%= render :partial => "stats", :locals => { :portfolio => portfolio } %>

    <div class="portfolio">
      <% unless portfolio.image.blank? %>
        <%= image_tag portfolio.image, :class => "imageleft" %>
      <% end %>

      <%= portfolio.description %>
    </div>

    <br style="clear: both" />
  </div>

  <% count += 1 %>
<% end %>
