<h2>Adres</h2>
<p>Simplic.IT<br />
Azaleastraat 37<br />
3281 CA, Numansdorp<br />
T: +31 (0)6-52.60.25.66<br />
E: <a href="mailto:info@simplic.it">info@simplic.it</a>
</p>

<p>KvK: 24432799<br />
Giro: 6810087 t.n.v. H.C. de Mik te Numansdorp</p>


<br /><br />
<h2>Beschikbaarheid</h2>
<p>Momenteel ben ik <strong>niet</strong> per direct beschikbaar voor werk.</p>