<h1>Contact</h1>

<!-- <h2>Send a message</h2> -->

<h2>Availability</h2>
<p>At this moment I am <strong>not</strong> directly available for new assignments</p>

<h2>Address</h2>
Azaleastraat 37<br />
3281 CA, Numansdorp<br />
The Netherlands<br />
T: +31 (0)6-52.60.25.66<br />

<p><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/hartog">http://www.linkedin.com/in/hartog</a></p>
